/* medium desktop */
@media (max-width: 1200px)
  .container
    max-width: 960px
  body
    background-color: #f0deb9

/* small desktop */
@media (max-width: 992px)
  .container
    max-width: 700px
  .logo
    width: 132px
  .navbar
    &-top
      padding-top: 30px
      padding-bottom: 30px
    &__search
      margin-left: auto
      max-width: 340px
    &-menu
      padding-top: 22px
      padding-bottom: 22px
      &__link
        font-size: 12px
        line-height: 15px
  body
    background-color: #1ab9ac

/* tablet */
@media (max-width: 768px)
  .container
    max-width: 576px
    width: 92%
  .navbar
    &__search, &-menu, &__user
      display: none
  .menu
    &-button
      display: flex
      width: 16px
      height: 11px
      justify-content: space-between
      align-items: center
      flex-direction: column
      border: none
      background-color: $light
      cursor: pointer
      &__line
        width: 16px
        height: 1px
        background-color: $text-color
  body
    background-color: #9eee79

/* smartphone */
@media (max-width: 576px)
  .logo
    width: 99px
  body
    background-color: #2e71c9

/* mobile */
@media (max-width: 320px)
  body
    background-color: #6a9755