/* medium desktop */
@media (max-width: 1200px)
  .container
    max-width: 960px
  .hotel
    &__slider
      width: 590px
  .hotel
    &-slider
      &__image
        width: 100%
        height: 100%
        object-fit: cover
  .card
    width: 230px
    height: 230px
  .footer
    &__input
      flex-basis: 100%
      width: 100%
    &__message
      flex-basis: 100%
      width: 100%
  body
    background-color: #f0deb9

/* small desktop */
@media (max-width: 992px)
  .container,
  .newsletter-wrapper
    max-width: 700px
  .logo
    width: 132px
  .navbar
    &-top
      padding-top: 30px
      padding-bottom: 30px
    &__search
      margin-left: auto
    &-menu
      padding-top: 22px
      padding-bottom: 22px
      &__link
        font-size: 12px
        line-height: 15px
  .search
    &__input
      width: 340px
  .hotel
    &-grid
      flex-direction: column
    &__slider
      margin-bottom: 30px
    &-slider
      width: 100%
    &-right
      flex-direction: row
  .booking
    width: 340px
  .map
    width: 340px
  .newsletter
    padding: 92px 0 93px 0
  .reviews
    padding: 40px 0 22px 0
    &-slider
      &__item
        max-width: 580px
    &__title
      margin-bottom: 50px
      font-size: 30px
      font-weight: 700
      line-height: 38px
  .activities
    padding-bottom: 50px
    &-wrapper
      flex-wrap: wrap
    &__card
      margin-bottom: 20px
  .card
    width: 340px
    height: 255px
  .footer
    padding-top: 73px
    padding-bottom: 33px
    &-wrapper
      grid-template-columns: repeat(6, 1fr)
      grid-gap: 38px
      grid-row-gap: 38px
    &__input
      flex-basis: 48%
    &__logo
      grid-row: 1 / 2
      grid-column: span 2
    &__categories
      grid-row: 2 / 3
      grid-column: span 2
    &__additional
      grid-column: span 2
    &__social
      &-network
        grid-row: 1 / 2
        grid-column: span 4
        align-self: center
    &__legal
      grid-column: span 2
    &__contact
      &-details
        grid-row: 3
        grid-column: span 5
        margin-top: 20px
      &-form
        grid-row: 4
        grid-column: span 5
    &__note
      grid-column: 1 / 4
      &-wrapper
        justify-content: flex-start
    &__link
      &--m-0-1
        margin: 0
    &__link
      &--m-0-2
        margin: 0 10px
    &__payment
      grid-column: span 3
  body
    background-color: #1ab9ac

/* tablet */
@media (max-width: 768px)
  .container
    max-width: 576px
    width: 92%
  body
    padding-top: 78px
  .navbar
    &--mobile
      &--fixed
        position: fixed
        top: 0
        right: 0
        left: 0
        z-index: 99
    &__user, &__search
      &--mobile
        &--hidden
          display: none
        &--visible
          display: flex
    &__user
      flex-direction: column
      justify-content: center
    &-bottom
      display: none
      position: fixed
      top: 78px
      right: 0
      bottom: 0
      left: 0
      padding-top: 31px
      &--visible
        display: block
    &-menu
      flex-direction: column
      &__item
        margin-bottom: 20px
        &--mobile
          &--visible
            display: block
            margin-bottom: 27px
            &--mb-3
              margin-bottom: 39px
  .menu
    &-button
      display: flex
      width: 16px
      height: 11px
      padding: 0
      justify-content: space-between
      align-items: center
      flex-direction: column
      border: none
      background-color: $light
      cursor: pointer
      &__line
        width: 16px
        height: 1px
        background-color: $text-color
  .user
    &__name
      &--light
        margin-left: 0
        margin-top: 10px
        color: $light
  .search
    &__input
      &--mobile
        &--visible
          width: 243px
  .stars
    flex-basis: auto
  .hotel
    padding-top: 5px
    &-name
      flex-basis: 100%
    &-wrapper
      justify-content: space-between
    &__slider
      margin-bottom: 20px
    &-info
      &__text
        width: 100%
      &__name
        margin-top: 10px
        margin-bottom: 0
      &__rating
        display: none
      &__offer
        order: -1
        margin-left: 0
    &-right
      flex-direction: column
      min-height: 450px
    &-slider
      height: 350px
  .booking
    width: 100%
  .map
    width: 100%
  .newsletter
    &-wrapper
      max-width: 576px
      width: 92%
      flex-direction: column
      align-items: flex-start
    &__title
      margin-bottom: 37px
    &-title
      font-size: 20px
      line-height: 25px
      &__strong
        margin-top: 5px
        font-size: 30px
        line-height: 38px
  .reviews
    padding: 40px 0 12px 0
    &-slider
      &__item
        padding: 0 30px 36px
        &:after, &:before
          display: none
      &__button
        top: 30px
        &--prev
          left: 50%
          margin-left: -80px
          transform: translate(-50%, 0)
        &--next
          right: 50%
          margin-right: -80px
          transform: translate(50%, 0)
    &__title
      margin-bottom: 42px
      font-size: 18px
      font-weight: 700
      line-height: 23px
  .card
    width: 48%
    height: 255px
  .activities
    padding: 40px 0 40px 0
    &__title
      margin-bottom: 36px
      font-size: 18px
      line-height: 23px
  .footer
    &__contact
      &-form
        grid-column: span 6
    &__input
      flex-basis: 100%
    &__message
      flex-basis: 100%
    &__note
      grid-column: 1 / 5
    &__payment
      grid-column: span 2
  body
    background-color: #9eee79

/* smartphone */
@media (max-width: 576px)
  .logo
    width: 99px
  .navbar
    &-top
      padding-top: 28px
      padding-bottom: 28px
    &-bottom
      top: 74px
  .hotel
    &__slider
      margin-bottom: 20px
    &-slider
      height: 250px
  .newsletter
    padding: 76px 0 83px 0
  .subscribe
    width: 100%
    min-width: 160px
  .reviews
    &-slider
      &__text
        text-align: left
  .card
    width: 100%
  .footer
    padding-top: 69px
    padding-bottom: 21px
    &-wrapper
      grid-template-columns: 1fr
      grid-row-gap: 10px
    &__title
      &--inline
        margin: 0
    &__logo
      grid-row: 1
      grid-column: 1
    &__social
      &-network
        grid-row: 2
        grid-column: 1
        flex-direction: column
        justify-content: flex-start
        margin-top: 20px
      &-links
        margin-top: 20px
    &__legal
      grid-row: 3
      grid-column: 1
      margin-top: 20px
    &__additional
      grid-row: 4
      grid-column: 1
      margin-top: 20px
    &__categories
      grid-row: 5
      grid-column: 1
      margin-top: 20px
    &__contact
      &-details
        grid-row: 6
        grid-column: 1
        margin-top: 30px
      &-form
        grid-row: 7
        grid-column: 1
        margin-top: 50px
    &__message
      margin-bottom: 15px
    &__info
      flex-basis: 100%
      margin-top: 0
    &__button
      margin-top: 15px
      order: 99
    &__note
      grid-row: 8
      grid-column: 1
      margin-top: 20px
    &__payment
      grid-row: 9
      grid-column: 1
      &-wrapper
        justify-content: flex-start
  body
    background-color: #2e71c9

/* mobile */
@media (max-width: 320px)
  .hotel
    &-right
      &__map
        margin-top: 20px
  .booking
    &__price
      margin-right: 8px
  body
    background-color: #6a9755