*
  box-sizing: border-box
body
  font-family: 'Mulish', sans-serif
  background-color: $secondary
  color: $text-color
.container
  max-width: 1110px
  margin: auto
img
  max-width: 100%
.booking
  font-family: 'Nunito', sans-serif
.input
  height: 50px
  padding: 0 23px
  border-radius: 4px
  border: none
  background-color: $light
.message
  padding: 18px 23px
  border-radius: 4px
  border: none
  background-color: $light
  resize: none
.button
  width: 160px
  height: 50px /* min */
  padding: 18px
  border-radius: 4px
  border: none
  cursor: pointer
  font-size: 12px
  font-weight: 700
  line-height: 15px
  color: $light
  background-color: $primary
.invalid
  color: $primary
#emailOnly
  &-error
    position: absolute
    top: 56px